h2 {
  display: flex;
  justify-content: center;
}

.form-recieved {
  background-color: rgb(209, 253, 195);
  border: 4px solid green;
  padding: 10px;
  justify-content: center;
}

.form-section {
  display: flex;
  width: auto;
  max-width: 100%;
  height: auto;
  justify-self: center;
}

label {
  font-weight: 700;
}

.name-and-mail-input > label {
  width: 100%;
}

form {
  background-color: rgb(211, 244, 255);
  padding: 20px;
  border: 2px solid grey;
}

.selection-field {
  background-color: red;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

textarea {
  min-height: 125px;
  min-width: 450px !important;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.submit-button {
  background-color: lightgray;
  padding: 5px 13px;
}

.submit-button:hover {
  background-color: lightsteelblue;
}

.info-paragraph {
  background-color: rgb(250, 221, 218);
  border: 5px solid rgb(201, 9, 9);
  padding: 10px;
  justify-content: center;
}
