.form-section {
  display: flex;
  height: 320px;
  justify-content: center;
}

form {
  background-color: lightblue;
  padding: 20px;
  border: 2px solid grey;
}

.submit-button {
  background-color: lightgray;
  padding: 5px 13px;
}
