.index-image-container {
  align-items: center;
  justify-self: center;
}

.index-image {
  rotate: -90deg;
}

.index-main {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.selected-products {
  background-color: rgb(230, 243, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featured-product {
  width: 215px;
  background-color: lightblue;
  margin: 20px;
  border: 2px solid rgba(20, 20, 20, 0.263);
  height: 300px;
}

.featured-product img {
  max-width: 100%;
  border: 5px solid lightblue;
  object-fit: cover;
}

.featured-product h3 {
  padding: 0 10px;
  text-transform: uppercase;
  word-break: balance;
}

@media screen and (max-width: 900px) {
  .selected-products {
    gap: 2em;
    padding: 30px 10px;
  }

  .featured-product {
    max-width: 80%;
    margin: 0;
    font-size: large;
  }
}

@media screen and (max-width: 600px) {
  .featured-product {
    width: auto;
    height: auto;
  }
}
