.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-article {
  margin: 20px;
  background-color: lightblue;
  border: 2px solid rgba(20, 20, 20, 0.263);
  position: relative;
  padding: 2px;
  height: 500px;
  width: 200px;
}

.top-right-triangle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  font-weight: 500;
  text-transform: uppercase;
}

.news-triangle {
  background-color: rgb(255, 215, 142);
}

.sales-triangle {
  background-color: rgb(150, 2, 2);
  color: white;
}

.product-article img {
  width: 200px;
  max-width: 100%;
  border: 5px solid lightblue;
  object-fit: cover;
}

.product-article p,
h3 {
  padding: 0 10px;
  text-transform: uppercase;
  width: auto;
  text-wrap: balance;
  text-overflow: clip;
}

.information-box {
  display: none;
}

.buy-product-button {
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: 1000;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 0 10px 10px 0;
}

#display-cart-button {
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: blue;
  color: white;
}

.cart-section {
  background-color: #def3fa;
  padding: 10px;
}

.adjust-amount-button {
  margin-top: 10px;
  padding: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

#increase-amount-button {
  background-color: rgb(52, 52, 255);
  color: white;
}

#decrease-amount-button {
  background-color: rgb(228, 186, 109);
  color: black;
}

.cart-items {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cart-items li {
  background-color: rgb(183, 219, 253);
  padding: 20px 10px;
  list-style: none;
  border: dashed blue 2px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 5%;
  font-weight: 700;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .product-article {
    width: 40%;
    height: auto;
    align-items: center;
  }

  .product-article img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .product-article {
    width: auto;
    height: auto;
  }

  .product-article img {
    width: 100%;
  }
}
