body {
  background-color: aliceblue;
}

.logo {
  width: 50px;
}

.index-image {
  rotate: -90deg;
}

header {
  background-color: lightblue;
  border-bottom: solid 1px blue;
}

.navigation-menu > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navigation-menu > ul > li {
  margin: 10px 1px;
  padding: 5px;
}

.navigation-menu > ul > li > a {
  text-decoration: none;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border: 2px solid darkgray;
}

.navigation-menu > ul > li :hover {
  background-color: grey;
}

footer {
  margin-top: 10px;
  border-top: 1px solid blue;
  width: 100vw;
  background-color: lightblue;
  padding: 5px 0px 0px 0px;
}

.footer-information-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
