* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: black;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

main {
  max-width: fit-content;
  padding: 10px 25px;
  align-items: center;
  justify-self: center;
}

.logo {
  width: 50px;
  background-color: transparent;
}

.index-image {
  rotate: -90deg;
}

header {
  background-color: lightblue;
  border-bottom: solid 1px blue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation-menu-desktop > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navigation-menu-desktop > ul > li {
  margin: 10px 1px;
  padding: 5px;
}

.navigation-menu-desktop > ul > li > a {
  text-decoration: none;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border: 2px solid darkgray;
}

.navigation-menu-desktop > ul > li :hover {
  background-color: grey;
}

footer {
  margin-top: 10px;
  border-top: 1px solid blue;
  width: 100vw;
  background-color: lightblue;
  padding: 5px 0px 0px 0px;
}

.footer-information-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu-tablet {
  display: none;
}

.navigation-menu-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .navigation-menu-desktop {
    display: none;
  }

  .navigation-menu-mobile {
    display: none;
  }

  .navigation-menu-tablet {
    display: flex;
    padding: 35px;
    align-items: center;
    justify-content: center;
  }

  .navigation-menu-tablet > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }

  #links-tablet {
    display: none;
  }

  .navigation-menu-tablet a {
    background-color: blue;
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    width: 100%;
  }

  .navigation-menu-tablet > button {
    position: absolute;
    top: 15%;
    right: 1%;
    width: 70px;
    height: 50px;
    margin-right: 10px;
    background-color: transparent;
  }

  .header {
    padding: 100px;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 5%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .navigation-menu-desktop {
    display: none;
  }

  .navigation-menu-tablet {
    display: none;
  }

  .navigation-menu-mobile {
    display: flex;
    padding: 35px;
    align-items: center;
    justify-content: center;
  }

  .navigation-menu-mobile > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    list-style: none;
    background-color: red;
  }

  #links-mobile {
    display: none;
  }

  .navigation-menu-mobile a {
    background-color: blue;
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    width: 100%;
  }

  .navigation-menu-mobile > button {
    position: absolute;
    top: 15%;
    right: 2%;
    width: 70px;
    height: 50px;
    margin-right: 1%;
    background-color: transparent;
  }
  .header {
    padding: 100px;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 5%;
    margin-left: 20px;
  }
}
